.main {
  margin-top: 60px;
}

.products-grid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}


@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }


 
}

.product-container {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {

  max-width: 100%;
  max-height: 100%;
}

.product-id{
  display: none;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}


.mini-cart{
  position: relative;
  display: none;
  width: 400px;
  height: 500px;
  background-color:white;
  position: fixed;
  top: 60px;
  right: 0;
  padding: 0.2rem;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mini-cart-display{
  display: block;
}

.mini-cart-item{
  display: grid;
  grid-template-columns: 1fr 2fr 20px;
  column-gap: 5px;
  padding:1rem;
  border-radius: 5px;
  margin-bottom: 5px;
}

.mini-cart-img{

  width: 100px;

}

.mini-cart-img img{
  width: 100%;
}

.mini-cart-item-details{
  align-self: start;
  margin-left: 1rem;
  display: grid;
  place-content: center;
}

.mini-cart-item-details p{

  margin-bottom: 5px;
  font-weight: bolder;
}


.mini-cart-remove{
  align-self: start;
  padding: 5px;
  font-size: 10px;
  background-color: red;
  color: white;
  border: 0;
  cursor: pointer;
  display: block;
  
}

.mini-cart-checkout button{
  position: fixed;
  top: 500px;
  right: 100px;
  text-align: center;
  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  display: block;
  margin:  auto;
  margin-bottom: 10px;
  padding: 0.8rem 5rem;
}